[submodule "onCar"]
	path = EI312-Little-Car-Pro
	url = https://github.com/DeanAlkene/EI312-Little-Car-Pro.git
[submodule "CarApp"]
	path = CarApp
	url = ./CarApp
[submodule "Speech"]
	path = Speech
	url = ./Speech
